// ignore all
*

// except subdirs
!*/

// except glide files
!glide*

// except git ignore
!.gitignore

// except go source file
!*.go

// except protobuf file
!*.proto

// except html, md doc
!*.html
!*.md

// except dep files
!lock.json
!manifest.json

!*.patch

// except docker
!/docker